<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analiticki grafovi</title>
</head>
<body>

<li>

    <figure>
        <embed type="image/svg+xml" src="../static/charts/chart1.svg" style="width:600px;height:600px;"/>
        <figcaption>Fibonaci 1 - Ovde ce da pise svasta sto se ondosi na ovu sliku iznad</figcaption>
    </figure>

    <figure>
        <embed type="image/svg+xml" src="../static/charts/chart2.svg" style="width:600px;height:600px;"/>
        <figcaption>Fibonaci 2 - Ovde ce da pise svasta sto se ondosi na ovu sliku iznad</figcaption>
    </figure>

    <figure>
        <embed type="image/svg+xml" src="../static/charts/chart3.svg" style="width:600px;height:600px;"/>
        <figcaption>Fibonaci 3 - Ovde ce da pise svasta sto se ondosi na ovu sliku iznad</figcaption>
    </figure>

    <figure>
        <embed type="image/svg+xml" src="../static/charts/chart4.svg" style="width:600px;height:600px;"/>
        <figcaption>Fibonaci 4 - Ovde ce da pise svasta sto se ondosi na ovu sliku iznad</figcaption>
    </figure>

    <figure>
        <embed type="image/svg+xml" src="../static/charts/chart5.svg" style="width:600px;height:600px;"/>
        <figcaption>Fibonaci 5 - Ovde ce da pise svasta sto se ondosi na ovu sliku iznad</figcaption>
    </figure>

</li>

</body>
</html>
