{% extends 'master.html' %}

{% block title %}
All Movies We Offer
{% endblock %}

{% block content %}
<div class="list-group">
    {% if movies|length %}
    {% for movie in movies %}
    <div class="card mb-5">
        <div class="card-header">
            <h1>
                {{ movie.title }}
                {% if perms.movies.change_movie %}
                <a href="{% url 'movies:edit' movie.id%}">
                    <span class="badge badge-primary">Edit</span>
                </a>
                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{ movie.description }}
                <br>
                <span class="label release_date">Release date: {{ movie.release_date }}</span>
                <br>
                <span class="label release_date">Rating: {{ movie.rating }}</span>
            </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
        No movies yet
    {% endif %}
</div>
{% endblock %}
